{% extends "base.html" %}
{% load humanize %}
{% load django_bootstrap5 %}
{% bootstrap_javascript %}
{% load mathfilters %}

{% block title %}
カテゴリ一覧
{% endblock %}

{% block page-title %}
カテゴリ一覧
{% endblock %}


{% block body %}
<div class="container-fluid">
  <div class="row">
    {% for object in object_list %}
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h5>
            <a href="{% url 'factory:factory_list'%}?layer1={{object.pk}}">
              {{object.name}} ({{object.num_linked_factories |intcomma}}件)
            </a>
          </h5>
        </div>
        <div class="card-body">
          {% for child in object.child_categories.all %}
            <p>
              {% if gchild.num_linked_factories == 0 %}
                {{child.name}} ({{child.num_linked_factories |intcomma}}件)
              {% else %}
              <a href="{% url 'factory:factory_list'%}?layer2={{child.pk}}">
              {{child.name}} ({{child.num_linked_factories |intcomma}}件)
              </a>
              {% endif %}
            </p>
            <ul>
            {% for gchild in child.child_categories.all %}
              <li>
                {% if gchild.num_linked_factories == 0 %}
                {{gchild.name}} ({{gchild.num_linked_factories |intcomma}}件)
                {% else %}
                <a href="{% url 'factory:factory_list'%}?layer3={{gchild.pk}}">
                {{gchild.name}} ({{gchild.num_linked_factories |intcomma}}件)
                </a>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>


    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}