{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}

{% block title %}
工場詳細
{% endblock %}

{% block page-title %}
工場詳細
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>工場詳細</h5>
      <table class="table">
        <tr class="bg-info">
          <th>項目</th>
          <th>値</th>
        </tr>
        <tr>
          <th>No</th>
          <td>{{object.pk}}</td>
        </tr>
        <tr>
          <th>工場名</th>
          <td>{{object.name}}</td>
        </tr>
        <tr>
          <th>詳細</th>
          <td>{{object.detail |linebreaksbr}}</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>
            {{object.postal_code| default:""}}
            {{object.address| default:""}}
          </td>
        </tr>
        <tr>
          <th>URL</th>
          <td>
            <a href="object.url">{{object.url}}</a>
          </td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>{{object.phone_number}}</td>
        </tr>
        <tr>
          <th>FAX</th>
          <td>{{object.fax_number}}</td>
        </tr>
        <tr>
          <th>メール</th>
          <td>{{object.mail_address}}</td>
        </tr>
        <tr>
          <th>作成日</th>
          <td>{{object.created_at}}</td>
        </tr>
        <tr>
          <th>更新日</th>
          <td>{{object.last_updated_at}}</td>
        </tr>
      </table>

      <h5>保有機械</h5>
      <table class="table">
        <tr class="bg-info">
          <th>No</th>
          <th>機械名</th>
          <th>機械種別</th>
          <th>メーカー</th>
          <th>保有数</th>
        </tr>
        {% for om in own_machines %}
        <tr>
          <td>
            <a href="{% url 'factory:machine_detail' pk=om.machine.pk %}">{{om.machine.pk}}</a>
          </td>
          <td>{{om.machine.name}}</td>
          <td>{{om.machine.machine_type.name}}</td>
          <td>{{om.machine.maker.name}}</td>
          <td>{{om.num}}</td>
        </tr>
        {% empty %}
        <tr><td colspan=5>No data</td></tr>
        {% endfor %}
      </table>
      <a href="{% url 'factory:factory_list' %}" class="btn btn-secondary">
        <i class="fas fa-arrow-circle-left"></i>&nbsp;一覧へ戻る
      </a>
    </div>
  </div>
</div>
{% endblock %}