{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}

{% block title %}
工場詳細
{% endblock %}

{% block page-title %}
工場詳細
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>工場詳細</h5>
      <table class="table">
        <tr class="bg-info">
          <th>項目</th>
          <th>値</th>
        </tr>
        <tr>
          <th>No</th>
          <td>{{object.pk}}</td>
        </tr>
        <tr>
          <th>工場名</th>
          <td>{{object.name}}</td>
        </tr>
        <tr>
          <th>詳細</th>
          <td>{{object.detail |linebreaksbr}}</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>{{object.prefecture}}</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>
            {{object.address1| default:""}}
            {{object.address2| default:""}}
            {{object.address3| default:""}}
          </td>
        </tr>
        <tr>
          <th>作成日</th>
          <td>{{object.created_at}}</td>
        </tr>
        <tr>
          <th>更新日</th>
          <td>{{object.last_updated_at}}</td>
        </tr>
      </table>

      <hr>

      <h5>保有機械</h5>
      <table class="table">
        <tr class="bg-info">
          <th>No</th>
          <th>機械名</th>
          <th>機械種別</th>
          <th>メーカー</th>
        </tr>
        {% for machine in object.machine_set.all %}
        <tr>
          <td>
            <a href="{% url 'factory:machine_detail' pk=machine.pk %}">{{machine.pk}}</a>
          </td>
          <td>{{machine.name}}</td>
          <td>{{machine.machine_type.name}}</td>
          <td>{{machine.maker.name}}</td>
        </tr>
        {% endfor %}
      </table>
      <a href="{% url 'factory:factory_list' %}" class="btn btn-secondary">
        <i class="fas fa-arrow-circle-left"></i>&nbsp;一覧へ戻る
      </a>
    </div>
  </div>
</div>
{% endblock %}