{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}

{% block title %}
機械詳細
{% endblock %}

{% block page-title %}
機械詳細
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>機械詳細</h5>
      <table class="table">
        <tr class="bg-info">
          <th>項目</th>
          <th>値</th>
        </tr>
        <tr>
          <th>No</th>
          <td>{{object.pk}}</td>
        </tr>
        <tr>
          <th>機械名</th>
          <td>{{object.name}}</td>
        </tr>
        <tr>
          <th>詳細</th>
          <td>{{object.detail |default:'' |linebreaksbr}}</td>
        </tr>
        <tr>
          <th>作成日</th>
          <td>{{object.created_at}}</td>
        </tr>
        <tr>
          <th>更新日</th>
          <td>{{object.last_updated_at}}</td>
        </tr>
        {% for k, v in specs.items %}
        {% if v %}
        <tr>
          <th>{{k}}</th>
          <td>{{v}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
      
      <h5>保有工場</h5>
      <table class="table">
        <tr class="bg-info">
          <th>工場名</th>
          <th>都道府県</th>
          <th>保有数</th>
      <tr>
      {% for om in object.ownmachine_set.all %}
      <tr>
        <td>
          <a href="{%url 'factory:factory_detail' pk=om.factory.pk%}">
            {{om.factory}}
          </a>
        </td>
        <td>{{om.factory.prefecture}}</td>
        <td>{{om.num}}</td>
      </tr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}