{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}

{% block title %}
機械詳細
{% endblock %}

{% block page-title %}
機械詳細
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>機械詳細</h5>
      <table class="table">
        <tr class="bg-info">
          <th>項目</th>
          <th>値</th>
        </tr>
        <tr>
          <th>No</th>
          <td>{{object.pk}}</td>
        </tr>
        <tr>
          <th>機械名</th>
          <td>{{object.name}}</td>
        </tr>
        <tr>
          <th>詳細</th>
          <td>{{object.detail |linebreaksbr}}</td>
        </tr>
        <tr>
          <th>保有工場</th>
          <td>
            <a href="{% url 'factory:factory_detail' pk=object.factory.pk %}">{{object.factory}}</a>
          </td>
        </tr>
        <tr>
          <th>作成日</th>
          <td>{{object.created_at}}</td>
        </tr>
        <tr>
          <th>更新日</th>
          <td>{{object.last_updated_at}}</td>
        </tr>
      </table>
      <a href="{% url 'factory:factory_detail' pk=object.factory.pk %}" class="btn btn-secondary">
        <i class="fas fa-arrow-circle-left"></i>&nbsp;保有工場へ戻る
      </a>
    </div>
  </div>
</div>
{% endblock %}