{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load mathfilters %}

{% block title %}
機械詳細
{% endblock %}

{% block page-title %}
機械詳細
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>機械詳細</h5>
      <table class="table">
        <tr class="bg-info">
          <th>項目</th>
          <th>値</th>
        </tr>
        <tr>
          <th>No</th>
          <td>{{object.pk}}</td>
        </tr>
        <tr>
          <th>機械名</th>
          <td>{{object.name}}</td>
        </tr>
        <tr>
          <th>種別</th>
          <td>{{object.machine_type.name}}</td>
        </tr>
        <tr>
          <th>詳細</th>
          <td>{{object.detail |default:'' |linebreaksbr}}</td>
        </tr>
        <tr>
          <th>作成日</th>
          <td>{{object.created_at}}</td>
        </tr>
        <tr>
          <th>更新日</th>
          <td>{{object.last_updated_at}}</td>
        </tr>
      </table>
      <h5>機械スペック</h5>
      <div class="accordion" id="accordion_spec">
        {% for k,v in specs.items %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{k}}" aria-expanded="false" aria-controls="{{k}}">
              {{v}}
            </button>
          </h2>
          <div id="{{k}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_spec">
            <div class="accordion-body">
              <table class='table'>
                {% for sk, sv in specdata.items %}
                {% if 'spec_'|add:k in sk and sv.value %}
                <tr>
                  <th>{{sv.name}}</th>
                  <td>{{sv.value}}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        {% empty %}
        詳細データなし
        {% endfor %}
      </div>

      <hr>
      <h5>保有工場</h5>
      <table class="table">
        <tr class="bg-info">
          <th>工場名</th>
          <th>都道府県</th>
          <th>保有数</th>
      <tr>
      {% for om in object.ownmachine_set.all %}
      <tr>
        <td>
          <a href="{%url 'factory:factory_detail' pk=om.factory.pk%}">
            {{om.factory}}
          </a>
        </td>
        <td>{{om.factory.prefecture}}</td>
        <td>{{om.num}}</td>
      </tr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}